mat-card-header {
  background-color: var(--mat-sys-surface-container-highest);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;

  mat-card-title {
    font-weight: bold;
  }
}

mat-card {
  margin: 20px;

  mat-card-content {
    margin-top: 20px;

    .row {
      display: flex;
      gap: 16px;

      mat-form-field {
        flex: 1;
      }
    }

    .full-width {
      width: 100%;
    }
  }
}

mat-card-actions {
  padding: 24px;
  gap: 12px;

  .cancelar-btn {
    background-color: #c62828 !important;
    color: white !important;
    border-radius: 0 !important;
  }

  .salvar-btn {
    background-color: #001f54 !important;
    color: white !important;
    border-radius: 0 !important;

    &:disabled {
      background-color: #cccccc !important;
      color: #666666 !important;
    }
  }
}